.body{background-color: #ebb3a2;}

.pages{bottom: 30px;
    background-color:#f7e6e1;
    border-style:hidden;
    border-radius: 20px;
    box-sizing: border-box;
    position: static;
    width: 430px;
    height: 100px;
    padding: 40px;
    left: 0;
    top: 50%}   
    
.pages{font-style: italic bold ;
    font-size: 20px ;}

.title{font-style:italic bold}


.artgallery{ position: static;
             left:33%;}


div.gallery {
    border: 2px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
    
}

div.gallery img { width: 150%;
    height: auto;}

div.desc {
    padding: 15px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-align: center;
    font-style:italic;
}

* {
    box-sizing: border-box;
    
}

.responsive { position: relative;
     margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;

    width:500px;
    top
}

@media only screen and (max-width: 00px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}