

.blue{ 
    background-color: cornflowerblue;
    height: 95px;
}

.green{
       background-color: chartreuse;
       height: 95px;
}
.orange{
       background-color: orange;
       height: 500px;
      
}
.grey{
      background-color:grey;
      height: 150px;

}

.red{
     background-color: darkred;
     height: 150px;
    
    }
     
.body{ 
  background-image: -moz-linear-gradient( 90deg, rgb(237,202,167) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(237,202,167) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(237,202,167) 0%, rgb(255,255,255) 100%);

}
}

                 }
.container{
    height:100%;
    width: 100%;
 }


.aside1{
    float: right;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

.aside2{
    list-style-type: none;
    padding: 0;
}
   
.aside3 {
    text-decoration: none;
}
 
.header{
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
     border-radius: 50px;
   
}


.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    clear: both;
    content: "";
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}


.topnav a:hover {
    background-color:#7c7c7c;
    color: black;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.aling{text-align: center;}


.margins{margin-right: 5%px;
         margin-left: 5%px}

.floatright{float: right}

.containerform{
    width:920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border:2px ;
    border-color: black;
    padding: 20px;
    
}





/* changing colors on same paragraph */
.font{font-family:"Roundhand, cursive"
.color2{
    color:blue;
    letter-spacing: 2px;
    font-weight: bold;
}
    
    
/* form styles */
label{
    color:black;
    margin-right: 10px;
}
.mybtn{
    color:red;
    background-color: white;
}
.mybtn2{
    font-size: 16px;
}
.textbox{
    background-color: darkgrey;
    color:white;
    border-color:red;
}
.row{
    margin-top: 5px;
}
 
.buttons{border-radius: 8px;}
/* rounded corners */
.inputForm{
      border-color: #b3b3b3;
    border-style:solid;
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
   }

.text2{
    color:black;
    text-align: center;
    border-color:grey;
}
